.container {
  margin: 0 auto;
  max-width: 1000px;
}

header {
  padding: 20px;
  background-color: #afafaf;
  display: flex;
  column-gap: 50px;
  justify-content: center;
}

header a {
  color: white;
}

a {
  color: grey;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

.active {
  color: rgb(109, 109, 204)
}
